// css header
header {
    width: 100%;
    height: 70px;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    @include xs {
        height: 70px;
    }
    .container-fluid {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 180px;
        .hidden {
            display: none;
        }
    }
    .menu {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include sm {
            display: none;
        }
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            li {
                height: 100%;
                padding-left: 35px;
                padding-right: 35px;
                @include maxW(1010px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 15px;
                    font-family: 'PNR';
                    color: $white-cl;
                    text-transform: uppercase;
                    outline-width: 0;
                    position: relative;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $yellow-cl;
                        display: inline-block;
                        position: absolute;
                        bottom: 25px;
                        transform: scale(0);
                    }
                    &:hover {
                        color: $yellow-cl;
                        transition: all .5s ease;
                    }
                    &:hover::before {
                        transform: scale(1);
                        transform-origin: center;
                        transition: all .5s ease;
                    }
                    &.active {
                        color: $yellow-cl;
                        transition: all .3s ease;

                    }
                    &.active::before {
                        transform: scale(1);
                        transform-origin: center;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
    .language-mb {
        display: flex;
    }
    .language {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        .language__original {
            display: flex;
            align-items: center;
            span {
                color: $white-cl;
                font-size: 15px;
                font-family: 'PNR';
            }
            img {
                width: 10px;
                margin-left: 5px;
            }
        }
        .language__final {
            position: absolute;
            top: 32px;
            right: 0;
            background-color: $text-cl;
            opacity: 0;
            pointer-events: none;
            transition: all .5s;
            ul {
                li {
                    width: 100%;
                    padding: 15px 40px;
                    color: #fff;
                    font-size: 14px
                }
                li:hover {
                    opacity: .5;
                }
            }
        }
        .active {
            opacity: 1;
            pointer-events: initial;
            -webkit-transform: translateY(10px);
                    transform: translateY(10px);
                    transition: all .5s;
        }
    }
    .menuMB {
            width: 35px;
            height: 25px;
            position: relative;
            margin-left: 20px;
            display: none;
            @include sm {
                display: block;
            }
            &::before, &::after, span {
                content: '';
                width: 100%;
                height: 3px;
                background-color: $white-cl;
                display: block;
            }
            &::before {
                position: absolute;
                top: 0;
            }
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                position: absolute;
                bottom: 0;
            }
        }
}
header.active {
    background-color: rgba(0 , 0, 0, 0.8);
}